body{
    background-color: lightgray;
}

.home{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.8)),
        url('../imgs/background.webp');
    background-size: cover; 
    /* background: url('../images/background.webp');
    background-size: cover; */
}

.intro{
    color: whitesmoke;
    padding: 5% 20%;
    text-align: justify;
    font-size: 18px;
    /* font-weight: 300; */

}

.name{
    font-size: 75px;
    font-weight: 400;
}